@import "tailwindcss";
@plugin "@tailwindcss/typography";

@source "./index.html";
@source "./src/**/*.{js,ts,jsx,tsx}";
@source "./components/**/*.{js,ts,jsx,tsx}";
@source "./services/**/*.{js,ts,jsx,tsx}";
@source "./utils/**/*.{js,ts,jsx,tsx}";

.katex {
  font-size: 1.1em !important;
}